<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        function httpGetAsync(theURL, callback){
            var xmlHttp = new XMLHttpRequest()
            xmlHttp.onreadystatechange = function () {
                if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
                    callback(xmlHttp.responseText);
                }
                else{
                    console.log(xmlHttp);
                }
            xmlHttp.open("GET", theURL, true);
            xmlHttp.send(null);
            }
        }

        httpGetAsync('http://127.0.0.1:5000/store', function (response) {
            console.log(response);
        });
    </script>
</head>
<body>
    <div id="myElement">
        <p>Hello, world!</p>
    </div>
</body>
</html>